/* CSS page for general appearance, beginners must look up z-index  */

@font-face { font-family: "terminus" ; src: url('/fonts/TerminessNerdFont-Bold.ttf') }

*
{
    -ms-user-select: none ;
    -moz-user-select: none ;
    -webkit-user-select: none ;
    -ms-tap-highlight-color: transparent ;
    -moz-tap-highlight-color: transparent ;
    -webkit-tap-highlight-color: transparent ;
}

html, body
{
    max-width: 100% ;
}

body
{
	margin: auto ;
	font-size: 125% ;
	min-height: 100vh ;
	margin-bottom: 20vmax ;
}

main
{
	/*
	display: inline-grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
	width: 100%;
	*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}


a
{
    color: #000 ;
    cursor: pointer ;
	background: none ;
    text-decoration: none ;
}

h1 
{ 
	font-size: 3.1vmax; 
} 

.TitleBar
{
	display: flex;
	position: fixed;
    width: 100% ;
	padding: 0.5em 0em ;
    justify-content: center ;
	align-items: center;
    border-bottom: solid 1px #000000 ;
	background: #ffffff;
	text-transform: uppercase;
	height: 4vh;
}

#name
{
	font-size: 70%;
	cursor: pointer;
	border-bottom: 1px solid black;
}

#GotoTrack, #SingleTitle
{
	/*color: #87a0f1;*/
	/*color: #000000;*/
    margin: 0 1% ;
}

.Share
{
    cursor: pointer ;
    max-height: 0.6em ;
}

#share-box img
{
	width: 5% ;
	max-height: 1.3em ;
}

#tagcloud
{
    z-index: 20 ;
    margin: 2vmax 0 ;
    text-align: center ;
	text-transform: uppercase;
}

#tagcloud span a
{
	z-index: 30 ;
	margin: 0 10px ;
	font-size: 80% ;
	color:#000000;
}

#SearchContainer
{
	display: flex;
	justify-content: center;
	align-items: center ;
}

#SearchBox
{
	margin: 0 10px;
	width: 100%;
	border: 2px solid #87ffff ;
	background: #efefef;
	padding: 8px;
	font-style: italic;
	text-transform: uppercase;
	scroll-margin-top: 10em;
}

/*
.MenuSVG
{
    max-height: 1.5em ;
}
*/

.Single { margin: 10vmax 2vmax }


#CopiedMessage /*, #CopiedBTC, #CopiedXMR, #CopiedPPL, #CopiedEmail */
{
	top: 50% ;
	left: 50% ;
	padding: 1rem ;
	position: fixed ;
	border: 3px solid #000000 ;
	background: #fff;
	text-transform: uppercase;
	transform: translate(-50%, -50%) ;
	font-size: 80%;
	width: 280px;
}

#email
{
	cursor: pointer ;
	font-size: 50% ;
    background: none;
    border: none;
	text-transform: uppercase;
	text-align: left;
}

#nextart { float: left ; color: black ; background: #87ffff ; padding: 0.5% 8% }
#prevart { float: right ; color: black ; background: #87ffff ; padding: 0.5% 8% }


footer
{
	display: flex;
	align-items: center;
	position: fixed;
	bottom: 10vh;
	left: 3vh;
	z-index: 500;
}


footer p 
{ 
	background: #e7ffff;
	padding: 10% 30%;
	max-height: 1.3em;
	cursor: pointer;
	border-radius: 50%;
	border: 2px solid #97ffff;
}


@media only screen and (min-width: 700px)
{
    body { font-size: 150% }
    footer 
	{ 
		left: 5vh;
		bottom: 2.5vh;
	}

}
