/* CSS for anything related to the music functionality */

.row { box-shadow: 0px 2px 4px 0px; scroll-margin-top: 15vh;  margin: 10px; }
.row > div { display: flex; align-items: center; justify-content: space-between; }
.Track { cursor: pointer; background: #eeeeee; gap: 5px; font-size: 120%; }
.TrackPlay { max-height: 1.2em; }
.TrackTitle { text-transform: uppercase; font-weight: 700; }
.taglist text { font-size: 70%; }
.waveform-per-track { height: 100px; width: 100%; }
.track-waveform { width: 100%; height: 100%; }

#PlayerControls {
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: fixed;
	width: 95%; 
	border-radius: 8px;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #97ffff;
	opacity: 0.8;
	font-size: 120%;
	box-shadow: 0px 1px 4px 1px;
	z-index: 1;
}

#PlayerControls > img {
	border-radius: 50%;
	background: #97ffff;
	box-shadow: 0px 2px 2px 1px;
	cursor: pointer; 
} 

#PlayerPlay:active, #Next:active, #Previous:active, #Shuffle:active, #Repeat:active { box-shadow: 0px 1px 2px 1px; }
#PlayerPlay { max-height: 2.5em }
#Next, #Previous { max-height: 1.8em; }
#StartDuration { font-size: 0.7em; } 
#EndDuration { display: none; }
#Shuffle, #Repeat { max-height: 1.2em }

@media only screen and (min-width: 700px) {
	#PlayerControls { width: 40%; }
}
