<div id="cartModal" class="modal" style="display: none;">
    <div class="modal-content">
		<div class="cart-items-scroll">
			<table id="shoppingcart">
            	<thead>
					<tr> <th>Track</th> <th>Lease</th> <th>Price</th> <th>Trash</th> </tr>
				</thead> 
				<tbody></tbody> 
			</table>
		</div>
        <div>
            <strong>Total: $<span class="carttotal">0</span></strong>
        </div>
		<button id="backToLeasesBtn" class="back-btn">BACK</button>
		<button id="checkoutButton" class="checkout-btn">CHECKOUT</button>
	</div>
</div>
