<div id="checkoutModal" class="modal" style="display: none;">
	<div class="modal-content">
		<div id="customer-info">
			<div id="artistName">Legal fullname and address are required for contract validity.</div>
			<form>
    			<input type="text" id="customer-name" placeholder="Fullname" required>
				<input type="text" id="customer-address" placeholder="Full address" required>
				<input type="email" id="customer-email" placeholder="Email for sending files" required>
				<input type="text" id="artist-name" placeholder="Artist name" required>
			</form>
		</div>
		<button id="backToCartBtn" class="back-btn">BACK</button> 
        <button id="payButton" class="pay-btn">PAY</button>
    </div>
</div>
