<script type="text/javascript" src="/js/single/copy.js" defer></script>
<div class="Single">
    <div>
        <p>
            This website is made entirely using open source software.
            In that same spirit, I offer a kit which includes most of the sounds I
            used in the making of each beat, available for free download.
        </p>
        <a href="/mp3/{{ .Page.Title }}/{{ .Page.Title }}_kit.zip" download>
    	    <button value="{{ .Page.Title }}_kit">download {{ .Page.Title }} kit</button>
        </a>
    </div>
    <div>
        <div>
            <p>
                If you would like to contribute you can donate crypto or fiat,
                or you can include me in your project as a collaborator:
            </p>
            <button
                onclick="cxmr()"
                value="82h5f8ZrqTniYswRkra2wCAtax521M7TpVicMDG2v7sGCzsXgyo9hR1ggKyDG4h3Tq5J55pg43sdvHfDWNahDiDkVEr3YwR\"
                id="xmr">
                    copy monero code
            </button>
            <text id="CopiedXMR" style="display:none">copied xmr code!</text>
        </div>
        <div>
            <button
                onclick="cbtc()"
                value="bc1q0nng6c6529m2hsjjsvwr2npwr5fhgunllqj33t"
                id="btc">
                    copy bitcoin code
            </button>
            <text id="CopiedBTC" style="display:none">copied btc code!</text>
        </div>
        <div>
            <button
                onclick="cppl()"
                value="paypal.me/illeezyh"
                id="ppl">
                    copy paypal.me
            </button>
            <text id="CopiedPPL" style="display:none">copied paypal.me!</text>
        </div>
    </div>
    <div>
        <p>
            This is my page on BeatStars:
        </p>
        <a href="https://beatstars.com/kingillmusic">
            <button> beatstars.com </button>
        </a>
    </div>
</div>
