<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
<meta name="robots" content="index, follow">
<meta name="description" content="Purchase beats, create playlists and stream ad-free: experimental, trap, EDM & chill study music.">

<meta property="og:title" content="Purchase beats, create playlists and stream ad-free: experimental, trap, EDM & chill study music">
<meta property="og:description" content="Purchase beats, create playlists and stream ad-free: experimental, trap, EDM & chill study music.">
<!--meta property="og:image" content="https://kingillmusic.com/cover.jpg"-->
<meta property="og:url" content="https://kingillmusic.com">
<meta property="og:type" content="website">

{{ $worker := resources.Get "js/list/waveform-worker.js" | js.Build | minify | fingerprint }}
<script>window.WAVEFORM_WORKER_URL = "{{ $worker.RelPermalink }}";</script>

{{ $js := resources.Get "js/list/main.js" | js.Build | minify | fingerprint }}
<script type="text/javascript" src="{{ $js.RelPermalink }}" defer></script>

<script src="https://www.paypal.com/sdk/js?client-id=Acq7j2qfe8QY4vkHy6l7EPh-ehOzvNJyAJLGzNbZLM0SMVOSCe83mc3AEkp1tBc8UWX3TyxeiNFk9SEv&currency=USD&disable-funding=paylater"></script>

<link rel="stylesheet preload" as="style" type="text/css" href="{{ "css/style.css" | relURL }}">

<title>{{ .Site.Title | lower }}</title>
{{ if isset .Params "tags" }}<meta name="keywords" content="{{ with .Params.tags }}{{ delimit . ", " }}{{ end }}">{{ end -}}
{{ with .Site.Params.favicon }}<link rel="icon" href="{{ . }}">{{ end -}}

{{ partial "schema.html" . }} 
