<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
<meta name="robots" content="index, follow">
<meta name="description" content="Lightning fast streaming, experimental, trap, EDM, and chill study music ad-free.">

<meta property="og:title" content="Stream My Music, Ad-Free | Experimental, Trap, EDM & Chill">
<meta property="og:description" content="Lightning fast streaming, experimental, trap, EDM, and chill study music ad-free.">
<!--meta property="og:image" content="https://kingillmusic.com/cover.jpg"-->
<meta property="og:url" content="https://kingillmusic.com">
<meta property="og:type" content="website">

{{ $worker := resources.Get "js/list/waveform-worker.js" | js.Build | minify | fingerprint }}
<script>window.WAVEFORM_WORKER_URL = "{{ $worker.RelPermalink }}";</script>

{{ $js := resources.Get "js/list/main.js" | js.Build | minify | fingerprint }}
<script type="text/javascript" src="{{ $js.RelPermalink }}" defer></script>
<script src="https://www.paypal.com/sdk/js?client-id=AedM7x_UmXo1zFQWkQQpoVySNYP1wkjbovaK5w43NTdf6aYx1zrcEHZULEyUhnyJgWVSneTn2RKnN8lM&currency=USD"></script>

<link rel="stylesheet preload" as="style" type="text/css" href="{{ "css/style.css" | relURL }}">

<title>{{ .Site.Title | lower }}</title>
{{ if isset .Params "tags" }}<meta name="keywords" content="{{ with .Params.tags }}{{ delimit . ", " }}{{ end }}">{{ end -}}
{{ with .Site.Params.favicon }}<link rel="icon" href="{{ . }}">{{ end -}}
