<div id="popup">
	<div id="CopiedMessage">
		<p><strong>ill x eezyh</strong></p>
		<hr>
		<p><a id="beatstars" target="_blank" href="https://beatstars.com/kingillmusic">BeatStars</a></p>
		<p><a id="paypal" target="_blank" href="https://paypal.me/illeezyh">PayPal</a></p>
		<p>
   			<script>
      			var eDone = 'ezh'+'@'+'keemail'+'.'+'me';
      			var eSubject = 'Question for ill x eezyh';  // optional 
      			document.write('<a '+'hre'+'f="mai'+'lto:'+eDone+'?sub'+'ject='+eSubject+'">'+eDone+'</'+'a>');
   			</script>
		</p>
	</div>
</div>
