<div class="TitleBar">
	<span id="StartDuration">0:00</span>
	<span id="EndDuration">0:00</span>
	&nbsp;
    <h1 id="GotoTrack"></h1>
	<div onclick="dcm()">
		<small id="name">x eezyh</small>
		<img src="/svg/share.svg" alt="copy URL" class="Share">
	</div>
</div>
<br>
<div id="ShareBox">
    <text id="CopiedMessage" style="display:none">
		<p>
			Copied song link for sharing
		</p>
		<hr>
		<p>
			<a style="color:#87a0f1" target="_blank" href="https://beatstars.com/kingillmusic">
				BeatStars
			</a>
		</p>
		<p>
			<a style="color:#87a0f1" target="_blank" href="https://paypal.me/illeezyh">
				PayPal
			</a>
		</p>
		<p>
			ezh at keemail dot me
		</p>
		<hr>
		<p>Thank you for listening</p>
	</text>
</div>
<br>
