<div class="TitleBar">
    <h1 id="GotoTrack"></h1>
    <img src="/svg/share.svg" onclick="dcm()" alt="copy URL" class="Share">
</div>
<br>
<div id="ShareBox">
    <text id="CopiedMessage" style="display:none">copied link!</text>
</div>
<br>
<script type="text/javascript" defer>
dcm = () => {
    const
        sh = document.querySelector(".Share"),
        cm = document.querySelector("#CopiedMessage");
    navigator.clipboard.writeText({{ .Site.BaseURL }} + go.innerText);
    cm.style.display = "block";
    setTimeout( () => { cm.style.display = "none" }, 1000) };
</script>
