<script type="text/javascript" src="/js/list/music.js" defer></script>

{{ range (.Paginator 200).Pages }}
    <div class="row">

        <div class="Track">
            <img src="/play.svg" class="TrackPlay" alt="play/pause">
            <text class="TrackTitle">{{ .Title }}</text>&nbsp;
            {{ partial "taglist.html" . }}
        </div>

		{{ range .Params.audio }}
        <audio class="TrackAudio" src="{{ . }}" preload="none" type="audio/mpeg">
				Your browser doesn't support embedded audio.
		</audio>
		{{ end }} {{/* range .Params.audio */}}

        <div class="TrackMenu">
            <a href="{{ .RelPermalink }}">
                <img class="MenuSVG" src="/menu.svg" alt="click for more">
            </a>
        </div>

    </div>
{{ end }}
