{{ range (.Paginator 200).Pages }}
    <div class="row">
		<div class="waveform-container">
			<canvas class="waveform-bg"></canvas>
			<canvas class="waveform-progress"></canvas>
		</div>

		<div class="Track" data-track-id="{{ .Title | urlize }}">
			<img src="/svg/play.svg" class="TrackPlay" alt="play">
			<text class="TrackTitle">{{ .Title }}</text>
			{{ partial "taglist.html" . }}
			&nbsp;
		</div>
	
		{{ range .Params.audio }}
		<audio class="TrackAudio" src="{{ . }}" preload="none" type="audio/mpeg">
				Your browser doesn't support embedded audio.
		</audio>
		{{ end }} {{/* range .Params.audio */}}
	</div>
{{ end }}
