            <div id="checkout">
                <form action="/cart/checkout/pay/" method="post" onchange="setAddons(this)">
                    <input name="_gotcha" style="display: none" type="text">
                    <input name="_to" type="hidden" value="joost@vdschee.nl">
                    <input name="_subject" value="New order!" type="hidden">
                    <input name="ordernumber" value="" type="hidden">

                    <div class="half">
                        <label for="firstname"></label>
                        <input type="text" name="firstname" placeholder="first name..." required />
                    </div>

                    <div class="half">
                        <label for="lastname"></label>
                        <input type="text" name="lastname" placeholder="last name..." required />
                    </div>

                    <div>
                        <label for="email"></label>
                        <input type="email" name="email" placeholder="email..." required />
                    </div>

                    <div>
                        <label for="country"></label>
                        <input type="text" name="country" placeholder="country..." required />
                    </div>

                <div>
                    <h2><span id="checkoutcalculation">payment total: </span></h2>
                    <p><em>{{ .Get 0 }}</em></p>
                </div>

                <div class="submitbutton">
                    <h3>
                        <input type="submit" value="{{ i18n `Proceed to payment` }}"
                        onclick="setOrderNumber(this.parentNode.parentNode);"/>
                    </h3>
                </div>

                </form>
            </div>
